
/* секція header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;

    color: var(--accent-txt-cl);
}

.logo.studio,
.logo.portfolio {
    margin-right: 94px;
}

.logo.studio:last-child {
    margin-right: 0;
}
.navigation_link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;

    color: var(--main-txt-cl);
    transition: color var(--cubic-bezier);
}

.navigation_list {
    display: flex;
    list-style: none;
}

.navigation_item {
    margin-right: 50px;
}

.navigation_item:last-child {
    margin-right: 0;
}

.auth-nav.item,
.auth-nav.list {
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.auth-nav .item {
    display: flex;
    align-items: baseline;
}

.auth-nav.list {
    margin-left: auto;
}

.auth-nav .item+.item {
    margin-left: 50px;
}

.header {
    background-color: var(--white-bg-cl);
    border-bottom: 1px solid var(--border-cl);
}

/*Header Address*/
.mail,
.phone {
    display: inline-flex;
    justify-content: center;
}

.mail {
    align-items: baseline;
}

.phone {
    align-items: center;
}

.icon-envelope,
.icon-phone {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    fill: currentColor;
}

.header .list .mail,
.header .list .phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    color: var(--secondary-txt-cl);
    transition: color var(--cubic-bezier);
}

.icon-envelope {
    align-items: baseline;
}

.icon-phone {
    align-items: center;
}

.header .navigation_link.active {
    color: var(--accent-txt-cl);
    transition: color var(--cubic-bezier);
    position: relative;
}

/* Підкреслення на active*/
.navigation_link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--accent-bg-cl);
}

.header .list .mail:hover,
.header .list .phone:hover,
.navigation_link:hover,
.header .list .mail:focus,
.header .list .phone:focus,
.navigation_link:focus,
.footer .list-footer .mail:hover,
.footer .list-footer .mail:focus,
.footer .list-footer .phone:hover,
.footer .list-footer .phone:focus {
    color: var(--accent-txt-cl);
}

.logo-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--black-color);
}

.studio-black {
    color: var(--black-color);
}

.studio-white {
    color: var(--white-color);
}

/*Секція герой*/

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--dark-bg-cl);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/bg-image/bcg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    width: 696px;
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}


/*header*/

.navigation_item {
    margin-right: 50px;
}





/*Модальне вікно*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity var(--cubic-bezier);
    background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background-color: var(--white-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity var(--cubic-bezier);
}

.close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-bg-cl);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color var(--cubic-bezier);
}

.close-modal:hover,
.close-modal:focus {
    border-color: var(--accent-txt-cl);
}


/*Форма*/
.modal-title {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}


.form-title-lable {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

    color: var(--secondary-txt-cl);
}

.comment-field {
    display: block;
    width: 100%;
    height: 120px;
    outline: none;
    padding: 12px 16px;
    transition: border var(--cubic-bezier);
}

.comment-field,
.modal-input {
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    padding-left: 42px;
    transition: border var(--cubic-bezier);
    outline: none;
}

.input-container {
    position: relative;
    display: block;
    transition: fill var(--cubic-bezier),
        background-color var(--cubic-bezier);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: var(--main-txt-cl);
    transform: translateY(-50%);
}

.input-container:hover,
.input-container:focus,
.modal-input:hover,
.modal-input:focus,
.comment-field:hover,
.comment-field:focus,
.modal-input-checkbox:hover,
.modal-input-checkbox:focus {
    border-color: var(--accent-bg-cl);
    fill: var(--accent-txt-cl);
}


.modal-text-checkbox {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 8px;

    color: var(--secondary-txt-cl);
}

.comment-field::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.comment-field {
    resize: none;
}

.comment-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.modal-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.comment-label {
    display: block;
    text-align: left;
    margin-bottom: 20px;
}

.conditions {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-txt-cl);
}

.modal-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-icon-check {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}


.icon-check {
    position: absolute;
    border: 2px solid var(--main-txt-cl);
    border-radius: 2px;
    cursor: pointer;
    fill: var(--white-color);
    transition: transform var(--cubic-bezier);
}



.icon-check:hover,
.icon-check:focus {
    border: 2px solid var(--accent-bg-cl);
}

.modal-input-checkbox:checked+.icon-check {
    background-color: var(--accent-bg-cl);
    transition: background-color var(--cubic-bezier);
    border: none;
}

.modal-input:focus+.form-icon {
    fill: var(--accent-txt-cl)
}

.modal-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Секція Features*/
.feature-block {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    background-position: center;
    margin-bottom: 30px;
}

.feature_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--main-txt-cl);
}

.feature_list {
    display: flex;
    flex-wrap: wrap;
}

.feature_item {
    width: 270px;
    list-style: none;
    margin-right: 30px;
}

.feature_item:last-child {
    margin-right: 0;
}

.feature_description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;

    color: var(--secondary-txt-cl);
}

/*Секція Product*/
.product {
    padding-top: 0;
}

.product_block {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;

    background-color: rgba(47, 48, 58, 0.8);
}

.product_label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.product_img {
    display: block;
    max-width: 100%;
    height: auto;
}

.product_card {
    position: relative;
    margin-right: 30px;
}

.product_card:last-child {
    margin-right: 0;
}

.product_list {
    display: flex;
    list-style: none;
}

.product_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--main-txt-cl);
}

/*Секція команда*/
.section.team {
    background-color: var(--secondary-bg-color);
}

.team-member_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--main-txt-cl);
}

.team-member_list {
    display: flex;
}

.team-member_item {
    width: 270px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-bg-cl);
}

.team-member_item:last-child {
    margin-right: 0;
}

.member {
    padding-bottom: 30px;
    padding-top: 30px;
}

.team-member_img {
    display: block;

    height: auto;
}

.team-member_list,
.team-member_item {
    list-style: none;
}

.member_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);

    margin-bottom: 10px;
}

.member_position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);

    margin-bottom: 16px;
}

/*Соц-мережі */

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    background-position: center;
}

.socials_items {
    margin-right: 10px;
}

.socials_items:last-child {
    margin-right: 0;
}

/*Постійні клієнти*/
.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers_item {
    list-style: none;
    margin-right: 30px;
}

.customers_item:last-child {
    margin-right: 0;
}

.customers_icon {
    background-position: center;
    align-items: center;
    justify-content: center;
}

.customers_list {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.customers_link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--secondary-border-cl);
    border-radius: 4px;
    background-position: center;

    fill: var(--secondary-border-cl);
    transition: fill var(--cubic-bezier),
        border-color var(--cubic-bezier);
}

.customers_link:hover,
.customers_link:focus {
    border: 1px solid var(--accent-txt-cl);
    fill: var(--accent-txt-cl);
}

.customers_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--main-txt-cl);
}

/*Portfolio*/

.services-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-style: normal;
    text-decoration: none;

    color: var(--main-txt-cl);
}

.services-list {
    padding: 20px 24px;
}

.services-title {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.services-position {
    font-size: 16px;
    line-height: 1.88;
    list-style: none;

    color: var(--secondary-txt-cl);
}

.services-link {
    display: block;
    list-style: none;
    text-decoration: none;
    transition: box-shadow var(--cubic-bezier);
}


.services {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.services-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.services-img {
    display: block;
    max-width: 100%;
}

.services-list {
    border-right: 1px solid var(--main-border-cl);
    border-bottom: 1px solid var(--main-border-cl);
    border-left: 1px solid var(--main-border-cl);
}

.services-link:hover,
.services-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.services-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio {
    background-color: var(--main-bg-cl);
}

/*Оверлей Портфоліо*/
.thumb-text {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition: transform var(--cubic-bezier);
}

.product-overlay {
    position: relative;
    overflow: hidden;
}

.services-link:hover .thumb-text,
.services-link:focus .thumb-text {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*Footer*/
.footer {
    background-color: var(--dark-bg-cl);

}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-block {
    flex: grow 1;
    ;
}

.footer .mail,
.footer .phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
    transition: color var(--cubic-bezier);
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;

    color: var(--white-color);
}

.logo.footer {
    display: block;
}

.list-footer {
    list-style: none;
}

.list-footer .item {
    margin-bottom: 9px;
}

.logo.footer {
    margin-bottom: 20px;
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;

    color: var(--white-color);
}

.footer .join-us {
    display: block;
    align-items: baseline;
    margin-left: 70px;
    margin-right: 0;
}

.container.footer-container {
    display: flex;
    align-items: baseline;
}


.socials-join {
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.socials-join:last-child {
    margin-right: 0;
}

.socials_link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: var(--secondary-border-cl);

    transition: fill var(--cubic-bezier),
        background-color var(--cubic-bezier);
}

.socials_link:focus,
.socials_link:hover {
    fill: var(--white-color);
    background-color: var(--accent-bg-cl);
}

.socials_link.link {
    border-radius: 50%;
    fill: var(--white-color);
}

.socials_link.link:hover,
.socials_link.link:focus {
    background-color: var(--accent-txt-cl);
}

.join.social-items {
    display: flex;
    list-style: none;
    width: 206px;
    height: 44px;

    align-items: center;
    background-position: center;
    justify-content: center;
}

.socials_link {
    background-color: rgba(255, 255, 255, 0.1);
}

.sign-up {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.sign-up-label {
    width: 358px;
    height: 50px;
}

.form-sign-up {
    display: flex;
}

.sign-up-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    ;

    background-color: var(--dark-bg-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    transition: border var(--cubic-bezier);
}

.sign-up-input:hover,
.sign-up-input:focus {
    border-color: var(--accent-bg-cl);
}

.container-sign-up {
    margin-left: 93px;
}

.form-sign-up {
    margin-top: 20px;
}

.sign-up-label {
    margin-right: 12px;
}


.sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-icon {
    margin-left: 10px;
    fill: var(--white-bg-cl)
}